server:
  port: 8072

app:
  base-url: "http://localhost:8072"

spring:
  application:
    name: gatewayserver
  config:
    import: "optional:configserver:http://localhost:8083/"
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    endpoint:
      gateway:
        access: unrestricted
    health:
      probes:
        enabled: true
    shutdown:
      access: unrestricted
      info:
        env:
          enabled: true

info:
  app:
    name: "gatewayserver"
    description: "Gateway Server for Blog Application"
    version: "1.0.0"

logging:
  level:
    com:
      blogapp:
        gatewayserver: DEBUG


resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000