server:
  port: 8081

spring:
  application:
    name: post
  config:
    import: "optional:configserver:http://localhost:8083/"
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
    h2:
      console:
        enabled: true
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
      hibernate:
        ddl-auto: update
      show-sql: true
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    function:
      definition: updatePostNickname; rollbackPostNickname
    stream:
      bindings:
        updatePostNickname-in-0:
          destination: update-post-nickname
          group: ${spring.application.name}
        updateCommentNickname-out-0:
          destination: update-comment-nickname
        rollbackPostNickname-in-0:
          destination: rollback-post-nickname
          group: ${spring.application.name}
        rollbackUserNickname-out-0:
          destination: rollback-user-nickname

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10s


resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "post"
    description: "Post Service for Blog Application"
    version: "1.0.0"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true
