server:
  port: 8082

spring:
  application:
    name: comment
  config:
    import: "optional:configserver:http://localhost:8083/"
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  cloud:
    function:
      definition: updateCommentNickname
    stream:
      bindings:
        updateCommentNickname-in-0:
          destination: update-comment-nickname
          group: ${spring.application.name}
        rollbackPostNickname-out-0:
          destination: rollback-post-nickname
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10s

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "comment"
    description: "Comment Service for Blog Application"
    version: "1.0.0"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  shutdown:
    access: unrestricted
  info:
    env:
      enabled: true

resilience4j.retry:
  configs:
    default:
      maxRetryAttempts: 3
      waitDuration: 500
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      retryExceptions:
        - com.blogapp.exception.RetryException
